.theme-dark {
  --background: #09090b;
  --foreground: #f4f4f5;
  --card: #111114;
  --card-foreground: #f4f4f5;
  --popover: #18181c;
  --popover-foreground: #f4f4f5;
  --primary: #8b5cf6;
  --primary-foreground: #ffffff;
  --secondary: #1e1b4b;
  --secondary-foreground: #e0e7ff;
  --muted: #18181b;
  --muted-foreground: #9ca3af;
  --accent: #2e1065;
  --accent-foreground: #f4f4f5;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --border: #27272a;
  --input: #18181b;
  --ring: #8b5cf6;
  --radius: 0.5rem;

  --sidebar: #09090b;
  --sidebar-foreground: #f4f4f5;
  --sidebar-primary: #8b5cf6;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #1e1b4b;
  --sidebar-accent-foreground: #e0e7ff;
  --sidebar-border: #1f1f23;
  --sidebar-ring: #8b5cf6;

  --chart-1: #8b5cf6;
  --chart-2: #a78bfa;
  --chart-3: #c4b5fd;
  --chart-4: #38bdf8;
  --chart-5: #34d399;
}
